.modal-popup.ant-modal .ant-modal-content {
    padding: 0;
}

.modal-popup.ant-modal .ant-modal-close-x svg {
    color: #fff;
    font-size: 18px;
}

.modal-popup.ant-modal .ant-modal-header {
    overflow: hidden;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.modal-popup.ant-modal .ant-modal-close {
    top: 12px;
}

.modal-popup.ant-select-single.ant-select-lg .ant-select-selector {
    font-size: 14px;
}

@media screen and (max-width: 480px) {  
    .modal-popup {
        top: 20px;
    }
}


// End Modal

.divide-TertiaryLight\/10 > :not([hidden]) ~ :not([hidden]) {
    border-color: none !important;
}

.divide-solid > :not([hidden]) ~ :not([hidden]) {
    border-style: none !important;
}






@media screen and (max-width: 1024px) { 
    .modal-popup.ant-modal .ant-modal-body {
        max-height: 64vh;
    }
  }

@media screen and (min-width: 1024px) { 
    .modal-popup.ant-modal .ant-modal-body {
        max-height: 75vh;
    }

    .modal-popup.ant-modal-root .ant-modal-wrap {
        margin-top: 74px;
    }
}