:where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-content {
    padding: 0;
}

:where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-close-x svg {
    color: #fff;
    font-size: 18px;
}

:where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-header {
    overflow: hidden;
    margin: 0;
}