:where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-content {
    padding: 0;
}

:where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-close-x svg {
    color: #fff;
    font-size: 18px;
}

:where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-header {
    overflow: hidden;
    margin: 0;
}

:where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-close {
    top: 12px;
}

:where(.css-dev-only-do-not-override-ixblex).ant-select-single.ant-select-lg .ant-select-selector {
    font-size: 14px;
}

.divide-TertiaryLight\/10 > :not([hidden]) ~ :not([hidden]) {
    border-color: none !important;
}

.divide-solid > :not([hidden]) ~ :not([hidden]) {
    border-style: none !important;
}






@media screen and (max-width: 1024px) { 
    :where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-body {
        max-height: 70vh;
    }
  }

@media screen and (min-width: 1024px) { 
    :where(.css-dev-only-do-not-override-ixblex).ant-modal .ant-modal-body {
        max-height: 75vh;
    }

    :where(.css-dev-only-do-not-override-ixblex).ant-modal-root .ant-modal-wrap {
        margin-top: 74px;
    }
}