.card {
    max-width: 500px;
    width: 94%;
    border-radius: .5rem;
    box-shadow: -1px -1px 40px 0px rgba(176, 163, 163, 0.75);
    -webkit-box-shadow: -1px -1px 40px 0px rgba(176, 163, 163, 0.75);
    -moz-box-shadow: -1px -1px 40px 0px rgba(176, 163, 163, 0.75);
}

.text-center {
    text-align: center;
}