.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    >a {
        margin-bottom: 24px;
    }
}
.ant-card{
    background-color: rgba(255, 255, 255, 0.703);
    margin-top: 100px !important;
}
.quochy{
    margin-top: 150px !important;
}
.Fg-pass{
    margin-top: 150px !important;
}
.otp{
    margin-top: 196px !important;
}
